@import "tailwindcss";

@theme {
  --color-black:      #000000;
  --color-blue-100:   #E6EAF6;
  --color-blue-500:   #3F5FBE;
  --color-blue-600:   #3350A3;
  --color-gray-100:   #F6F6F6;
  --color-gray-200:   #E9E9E9;
  --color-gray-300:   #CFCFCF;
  --color-gray-400:   #B3B3B3;
  --color-gray-500:   #828282;
  --color-gray-600:   #606060;
  --color-gray-700:   #555555;
  --color-gray-800:   #333333;
  --color-gray-900:   #222222;
  --color-green-100:  #DCF1E1;
  --color-green-500:  #08A627;
  --color-red-100:    #F9E4E3;
  --color-red-500:    #C90000;
  --color-white:      #FFFFFF;
  --color-yellow-100: #FDE8DA;
  --color-yellow-500: #F56607;

  --text-8:    8px;
  --text-10:  10px;
  --text-12:  12px;
  --text-14:  14px;
  --text-16:  16px;
  --text-18:  18px;
  --text-20:  20px;
  --text-32:  32px;

  --spacing-3xs:  4px;
  --spacing-2xs:  8px;
  --spacing-xs:  12px;
  --spacing-s:   16px;
  --spacing-m:   20px;
  --spacing-l:   24px;
  --spacing-xl:  32px;
  --spacing-2xl: 40px;
  --spacing-3xl: 80px;

  --radius-0:       0px;
  --radius-4:       4px;
  --radius-8:       8px;
  --radius-full: 9999px;

  --shadow-card: 0 1px 3px rgb(0 0 0 / 0.08), 0 1px 2px rgb(0 0 0 / 0.06);
}
